* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #facfcf;
}

a {
  text-decoration: none;
  color: white;
}

p {
  text-align: justify;
}

.container {
  padding: 0px 80px;
}
header {
  border-top: 2px dotted red;
  border-left: 2px dotted red;
  border-right: 2px dotted red;
}
header h1 {
  padding: 10px 0;
}
header span {
  color: white;
}

header .menu-top {
  padding-right: 150px;
}
header .menu-top ul {
  display: flex;
  background-color: #420000;
  list-style: none;
  margin-bottom: 5px;
}

header .menu-top ul li {
  padding: 10px 80px 10px 0px;
  cursor: pointer;
}

section {
  display: flex;
  border: 2px dotted blue;
}

.menu-left {
  width: 220px;
  background-color: #9d6f68;
}
.menu-left ul {
  list-style: none;
}

.menu-left ul li {
  list-style: none;
  padding: 15px 5px;
}

.content {
  flex: 1;
  padding-left: 10px;
}
.content .text {
  padding-right: 150px;
}
.content .text h3 {
  padding-top: 20px;
}

.content .text h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  text-align: center;
  border-bottom: 2px dotted rgb(122, 122, 0);
  border-right: 2px dotted rgb(122, 122, 0);
  border-left: 2px dotted rgb(122, 122, 0);
  padding: 40px;
  color: white;
}
